# Dependencies
node_modules

# Production Outputs & Transpiled Code
dist
build

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Logs & Runtime Data
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads / Static Assets (if user files are saved locally)
uploads/
storage/

# Testing & Coverage
coverage/
.nyc_output/

# Editor & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db